
/* this prevents the white at the bottom and top of the webpage */
body { 
  background-color: #EA1212; 
}

/* html, body, body > div, .app {
  height: 100%;
  width: 100%;
} */

.App {
  text-align: center;
  font-family: 'Ek Mukta';
  font-variation-settings: "wght" 500;
}

button {
  font-family : inherit;
  font-size: 20px;
}

.glow-on-hover {
  width: 280px;
  height: 70px;
  border: none;
  outline: none;
  color: black;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Privacy-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 2vmin);
  color: white;
  max-width: 60vh;
  margin: auto;
  text-align: left;
  padding: 2em;
}

.App-link {
  color: #61dafb;
}

.App-store-button {
  height: 60px;
  /* height: 6vmin; */
}


.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;

  display: flex;
  flex-direction: row;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  /* font-size:xx-large; */
  /* font-size:300%; */
  /* font-size: 8vmin; */
  /* font-weight: bold; */
  font-variation-settings: "wght" 800;

  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-size: 50px;
}

h2 {
  font-size: 60px;
  font-variation-settings: "wght" 600;
  margin-top: 0.5em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;

  /* font-weight: bold; */
}

li{
  font-size:20px;
  margin-top:50px;
 }

h3 {
  font-size: 25px;
  font-variation-settings: "wght" 600;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  /* font-size: large; */
}

h4 {
  font-size: 18px;
  margin-top: 2em;
  margin-bottom: 0;
  font-weight:normal;
}

h5 {
  font-weight:normal;
}

p {
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: white;
  opacity: 0.6;
  margin-top: 0.2em;
}

h6 {
  margin-top: 0.5em;
  padding-top: 0em;
  font-size: 18px;
  opacity: 0.7;
  font-variation-settings: "wght" 200;
}